html {
  font-size: 16px;
}

body {
  background: url('https://unsplash.com/photos/sKJ7zSylUao/download?force=true') no-repeat center center fixed;
  background-size: cover;
}

body .container {
  background-color: teal;
  border: teal;
  margin: -.5rem;
  width: auto;
  margin-left: 3%;
}

.custom-collapse {
  margin-right: 3%;
}
.navbar-brand {
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 0rem;
  color: white !important;
  font-weight: bold;
}

.heather-nav {
  display: inline !important;
  margin: 10px;
}

h1 {
  color: teal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  padding: 0px;
}

.img-thumbnail, col-md-6 {
  max-width: 200px;
  height: 200px;
  float: left;
  margin-bottom: 20px;
}

#profimg {
  width: 25%;
  max-width: 200px;
  height: 300px;
  float: left;
}

footer {
  text-align: center;
  background-color: grey;
  border-top: teal 5px solid;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white; 
  font-size: smaller;
}

@media screen and (max-width: 780px) {
  .navbar-brand {
    margin: 0 auto;
  }
  body .container {
    background-color: teal;
    border: teal;
    margin: 0;
    width: 100%;
  }
  .custom-collapse {
    text-align: center;
    margin: auto;
  }
  #profimg {
    width: 100%;
  }
}
